services:
  - type: web
    name: fleet-tracker-api
    env: python
    plan: free
    buildCommand: |
      cd backend
      pip install -r requirements.txt
    startCommand: |
      cd backend
      gunicorn backend.wsgi:application
